@import "tailwindcss";

@theme{
    --color-header-bg: 237 255 250;
    --color-footer-up-bg: 239 239 239;
    --color-footer-down-bg: 100 185 229;
    --color-navbar-bg: 100 185 229;
    --color-navbar-text: #ffffff;
    --color-border-slide: 241 241 241;
    --color-text-content: 17 49 53;
    --color-text-desc: 98 98 98;
    --color-text-title: 26 26 26;
}

@layer utilities {
    /* header - footer */
    .bg-header{
        background-color: rgb(var(--color-header-bg));
    }
    .bg-footer-up{
        background-color: rgb(var(--color-footer-up-bg));
    }
    .bg-footer-down{
        background-color: rgb(var(--color-footer-down-bg));
    }
    .bg-navbar-active{
        background-color: rgb(var(--color-navbar-bg));
        color: var(--color-navbar-text);
    }
    .cl-text-content{
        color: rgb(var(--color-text-content))
    }
    .cl-text-desc{
        color: rgb(var(--color-text-desc))
    }
    .cl-text-title{
        color: rgb(var(--color-text-title))
    }

    /* homepage */

    /* hero-banner */
    .bg-hero-banner{
        background-image: url('/src/assets/images/homepage/hero-banner/hero-banner.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center ;
    }
    .bg-hero-banner-up{
        background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0.1));
    }
    .bg-hero-banner-down{
        background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1));
    }
    .bg-hero-banner-title{
        text-align: center;
        color: white;
        text-shadow: 1px 1px 1px #333;
        text-transform: uppercase;
    }
    .bg-hero-banner-search{
        width: fit-content;
        display: flex;
        align-items: center;
        border-radius: 25px;
        background-color: #f7d800;
    }

    /* section-specialty */
    .border-slide{
        border: 3px solid rgb(var(--color-border-slide));
    } 
    
    /* section-prominent-doctor */
    .bg-prominent-doctor{
        background-image: url('/src/assets/images/homepage/top-doctorS/background.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center ;
    }

    /* section-about */
    .bg-about{
        background-image: url('/src/assets/images/homepage/aboutS/background3.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center ;
    }
}




// reset slick slider css

.slick-slide {
  margin-right: 16px !important; /* tương đương gap-4 (4 * 4px = 16px) */
}

/* Loại bỏ margin của slide cuối cùng */
.slick-slide:last-child {
  margin-right: 0 !important;
}

.slick-prev{
    width: 36px !important;
    height: 40px !important;
    left: -5px !important;
    border: 4px solid rgb(203, 238, 243) !important;
    z-index: 10!important;
    border-radius:10px;
    background: #fff !important;

    &:hover{
        background:rgb(203, 238, 243) !important;
    }

}
.slick-prev::before, .slick-next::before{
    font-family:FontAwesome !important;
    color: rgb(52, 146, 158) !important;
}

.slick-disabled{
    display: none !important;
}

.slick-next{
    width: 36px !important;
    height: 40px !important;
    right: -5px !important;
    border: 4px solid rgb(203, 238, 243) !important;
    z-index: 10!important;
    border-radius:10px;
    background: #fff !important;

    &:hover{
        background:rgb(203, 238, 243) !important;
    }
}