@import "tailwindcss";

@theme{
    --color-header-bg: 237 255 250;
    --color-footer-up-bg: 239 239 239;
    --color-footer-down-bg: 100 185 229;
}

@layer utilities {
    .bg-header{
        background-color: rgb(var(--color-header-bg));
    }

    .bg-footer-up{
        background-color: rgb(var(--color-footer-up-bg));
    }

    .bg-footer-down{
        background-color: rgb(var(--color-footer-down-bg));
    }
}